<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stock Tracker</title>

    <!-- STYLESHEETS -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/styles/landingStyles.css">

    <!-- VENDOR SCRIPTS -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Poiret+One" rel="stylesheet"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous" defer></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js" defer></script>
</head>
<!-- BEGIN HTML BODY -->
<body>

</body>
<!-- END HTML BODY -->
</html>
