<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stock Tracker</title>

    <!-- STYLESHEETS -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/landingStyles.css">

    <!-- VENDOR SCRIPTS -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Poiret+One" rel="stylesheet"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" defer ></script>
    <script src="https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=AAPL&apikey=CUGQ1VDKVRZ77B9U"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js" defer></script>
</head>
<!-- BEGIN HTML BODY -->
<body>
    <header>
        <h1>Stock Tracker</h1>
        <h2>Track your trades!</h2>
    </header>
    <div id="btn-wrapper">
        <button class="btn" id="signup-button" type="button">Sign Up</button>
        <button class="btn" id="login-button" type="button">Log In</button>
    </div>
    <div class="hidden" id="form-wrapper">
        <form>
            <input id="email-input" type="email" placeholder="E-mail">
            <input id="password-input" type="password" placeholder="Password">
            <button id="submit-button" type="submit">Submit</button>
        </form>
    </div>
    <div id="card-wrapper">
        <div class="instructions" id="card1">
            <p>1. Input a stock symbol.</p>
        </div>
        <div class="instructions" id="card2">
            <p>2. Add how many shares you traded (bought/sold).</p>
        </div>
        <div class="instructions" id="card3">
            <p>3. Specify the date of the trade.</p>
        </div>
        <div class="instructions" id="card4">
            <p>4. Submit! And see your transaction added to your trade log.</p>
        </div>
    </div>
</body>
<!-- END HTML BODY -->
</html>
