<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Stock Tracker Page</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="./css/normalize.css" />

   <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/stockTrackerStyles.css" />
   <script src="main.js defer"></script>
</head>

<body>
   <min>
       <div>
           <img src="https://via.placeholder.com/200x200" alt="user_image">
           <button>log out</button>
       </div>
       <div>
           <form id="tradeInfoForm">
               <input type="text" name="symbol" placeholder="stock symbol">
               <input type="text" name="share" placeholder="quantity of share">
               <input type="text" name="date" placeholder="trade date mm-dd-yyyy">
           </form>
       </div>
   </min>
   <section>

   </section>
</body>

</html>
