<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stock Tracker Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />

    <!-- VENDOR SCRIPTS -->
    <script src="https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=AAPL&apikey=CUGQ1VDKVRZ77B9U" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"  defer></script>
    

    <link rel="stylesheet" type="text/css" media="screen" href="styles/stockTrackerStyles.css" />
    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js" defer></script>
</head>

<body>
    <main>
        <div id="userDiv">
            <img src="https://via.placeholder.com/100x100" alt="user_image">
            <button id="logOut">log out</button>
        </div>
        <form id="tradeForm" action="">
            <input type="text" name="symbol" placeholder="stock symbol">
            <input type="text" name="share" placeholder="quantity of share">
            <input type="text" name="date" placeholder="trade date yyyy-mm-dd">
            <input type="radio" id="bought" name="boughtOrSold" value="bought" checked="checked"> buy
            <br>
            <input type="radio" id="sold" name="boughtOrSold" value="sold"> sell
            <br>
            <button id="addToLog" type="submit">Add to log</button>
        </form>
        <div id="portfolioDiv">
            <h5>Portfolio</h5>
            <h6>Total Bought</h6>
            <p id="boughtTotal">$0</p>
            <h6>Total Sold</h6>
            <p id="soldTotal">$0</p>
        </div>
    </main>
    <section>
        <h5>List of trade histories</h5>
        <h6>stock +/- #share date total</h6>
        <div id="divLog">
        </div>
    </section>
</body>

</html>