/* only use during deelopment to see things better, delete it in production */
body, header, main, nav, section, footer, div, article, p, h1, h2, h3{
    border: .1rem solid black;
    box-sizing: border-box;
}
/* has main top half and section bottom half */
body{
    background-image: url("/images/stocks_background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    margin: auto;
    color: white;
}
    /* has userDiv left, tradeForm middle, portfolioDiv right */
    main{
        background-color: #254d208e;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        /* has user image and a log out button */
        #userDiv{
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        /* has a form */
        #tradeForm{
            flex: 3;
            display: flex;
            flex-direction: column;
        }
        /* has 2 paragraph to display some result */
        #portfolioDiv{
            flex: 1;
        }
    section{
        background-color: #254d208e;
    }
button{
    background-color: darkgrey;
}
#imageURL{
    width: 100%;
}